<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Acounting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Acounting.Properties.Settings.storeConnectionString"
            connectionString="server=localhost;User Id=root;database=store;charset=utf8"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <applicationSettings>
        <Acounting.Properties.Settings>
            <setting name="type1" serializeAs="String">
                <value>مبيعات</value>
            </setting>
            <setting name="type2" serializeAs="String">
                <value>مرجع مبيعات</value>
            </setting>
            <setting name="type3" serializeAs="String">
                <value>مشتريات</value>
            </setting>
            <setting name="type4" serializeAs="String">
                <value>مرجع مشتريات</value>
            </setting>
        </Acounting.Properties.Settings>
    </applicationSettings>
</configuration>